@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

@font-face {
  font-family: 'vollkornbold';
  src: url("../fonts/vollkorn-bold-webfont.eot");
  src: url("../fonts/vollkorn-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vollkorn-bold-webfont.woff2") format("woff2"), url("../fonts/vollkorn-bold-webfont.woff") format("woff"), url("../fonts/vollkorn-bold-webfont.ttf") format("truetype"), url("../fonts/vollkorn-bold-webfont.svg#vollkornbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vollkornmedium';
  src: url("../fonts/vollkorn-medium-webfont.eot");
  src: url("../fonts/vollkorn-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vollkorn-medium-webfont.woff2") format("woff2"), url("../fonts/vollkorn-medium-webfont.woff") format("woff"), url("../fonts/vollkorn-medium-webfont.ttf") format("truetype"), url("../fonts/vollkorn-medium-webfont.svg#vollkornmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vollkornregular';
  src: url("../fonts/vollkorn-regular-webfont.eot");
  src: url("../fonts/vollkorn-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vollkorn-regular-webfont.woff2") format("woff2"), url("../fonts/vollkorn-regular-webfont.woff") format("woff"), url("../fonts/vollkorn-regular-webfont.ttf") format("truetype"), url("../fonts/vollkorn-regular-webfont.svg#vollkornregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* gradient */

/* opacity */

/* box shadow */

/* text shadow */

/* box sizing */

/* border radius */

/* double border */

/* transform */

/* transform-origin */

/* transform style */

/* triple borders */

/* keyframes */

/* animation */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
header,
main {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

img {
  border: 0;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

legend {
  border: 0;
  padding: 0;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "vollkornbold", serif;
  font-weight: 500;
  line-height: 1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.font--lg {
  font-size: 18px;
}

.visible--lg {
  display: none;
}

@media (min-width: 992px) {
  .visible--lg {
    display: block;
  }
}

.text--danger {
  color: #ff0101;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.list--styled {
  padding-left: 0;
  list-style-type: none;
}

.list--styled li {
  line-height: 1.25;
  position: relative;
  padding-left: 41px;
  margin-bottom: 17px;
}

.list--styled li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/ok.png") no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
}

.list--inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list--inline > li {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}

blockquote {
  padding: 0 17px;
  margin: 32px 0;
  font-size: 18px;
  border-left: 5px solid #afa376;
  line-height: 1.25;
}

blockquote p:last-child {
  margin-bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 1.42857;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: #000;
}

a.underline--link {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn--primary {
  color: #000;
  background-color: #ffe327;
  border-color: #ffe327;
}

.btn--primary:focus {
  color: #000;
  background-color: #f3d300;
  border-color: #f3d300;
}

.btn--primary:hover {
  color: #000;
  background-color: #f3d300;
  border-color: #f3d300;
}

.btn--primary:active {
  background-image: none;
}

.btn--lg {
  padding: 24px 39px 17px 39px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 50px;
  letter-spacing: 1.6px;
}

.btn--md {
  padding: 20px 24px 17px 24px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 50px;
  letter-spacing: 1.6px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
  font-family: 'vollkornbold';
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 2;
  color: #000;
  border: 0;
  position: relative;
}

legend::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 59px;
  background: #afa376;
  margin: auto;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2px;
  font-family: 'PT Sans';
  font-size: 14px;
  color: #666;
  font-weight: 400;
}

.form-control {
  display: block;
  width: 100%;
  height: 52px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.28);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  text-align: center;
}

.form-control:focus {
  border-color: #afa376;
  outline: 0;
}

.form-control::-moz-placeholder {
  color: #999;
  text-align: center;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-group {
  margin-bottom: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 480px) {
  .container {
    width: 740px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333%;
  -webkit-flex-basis: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66667%;
  -webkit-flex-basis: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.end-xs {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.between-xs {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
    -webkit-flex-basis: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
}

.close {
  float: right;
  font-size: 17.6px;
  font-weight: 400;
  line-height: 0.9;
  text-align: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  margin-top: -27px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  -webkit-appearance: none;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-content-black {
  background-color: #000;
  height: 440px;
}

.modal-body {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 2px solid #afa376;
}

@media (min-width: 480px) {
  .modal-dialog {
    width: 770px;
    margin: 50px auto;
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 940px;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .pull-lg-right {
    float: right;
  }

  .pull-lg-left {
    float: left;
  }
}

.header-top {
  padding: 10px 0 9px;
}

.header-bottom {
  background: url("../images/header-back.jpg") no-repeat 50% 0;
  background-size: cover;
  padding: 10px 0 160px;
}

.phone-text {
  font-weight: 400;
  font-size: 24px;
}

.phone-popup {
  border-bottom: 1px dashed #000;
}

.phone-popup:hover {
  border-color: transparent;
}

.social-block {
  margin-bottom: 0;
}

.social-block a {
  border-radius: 50%;
  background: #afa376;
  width: 32px;
  height: 32px;
  font-size: 17px;
  text-align: center;
  line-height: 35px;
  display: block;
  color: #fff;
}

.social-block a:hover {
  background: #998b59;
}

.frame {
  margin-top: 50px;
  padding: 35px 10px 68px;
  background-color: rgba(255, 255, 255, 0.7);
}

.frame h1 {
  font-size: 60px;
  line-height: 0.8;
}

.frame h4 {
  font-family: 'vollkornmedium';
}

.frame h5 {
  font-family: 'PT Sans';
  font-weight: 400;
  margin-top: 69px;
}

.facts-block {
  padding: 88px 0 50px;
}

.facts-block__item {
  margin-bottom: 38px;
}

.facts-block__item-number {
  font-size: 72px;
  font-family: 'vollkornregular';
  float: left;
  line-height: 0.6;
  margin-right: 19px;
}

.facts-block__item-desc {
  margin-top: 19px;
}

.request-block {
  padding: 102px 0 74px;
  background: whitesmoke;
}

@media (min-width: 992px) {
  .request-block {
    background: whitesmoke url("../images/request-back.jpg") no-repeat right top;
    background-size: 50% auto;
  }
}

.request-block h2 {
  margin-top: 0;
  margin-bottom: 62px;
}

@media (min-width: 992px) {
  .request-block h2 span {
    display: block;
  }
}

.request-block h5 {
  font-family: 'PT Sans';
  font-weight: 700;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .request-block li span {
    display: block;
  }
}

.form-wrapper {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.84);
  margin-bottom: 18px;
  border-radius: 2px;
}

.form-wrapper form {
  padding: 21px 37px 41px;
  border: 2px solid #afa376;
}

.form-wrapper p {
  line-height: 1;
  margin-bottom: 30px;
}

.form-wrapper .btn {
  padding-left: 22px;
  padding-right: 22px;
  width: 100%;
  margin-top: 20px;
}

.pres-block {
  width: 100%;
  max-width: 400px;
  padding: 18px 25px;
  background-color: rgba(255, 255, 255, 0.83);
  position: relative;
}

.pres-block::before {
  content: '';
  position: absolute;
  left: 20px;
  top: -11px;
  border-style: solid;
  border-width: 0 10px 11px 10px;
  border-color: transparent transparent rgba(255, 255, 255, 0.83) transparent;
}

.pres-block h3 {
  margin: 0 0 5px;
}

.views-block {
  padding: 70px 0 96px;
}

.views-block .row {
  margin: 0;
}

.views-block h1 {
  margin-bottom: 15px;
}

.views-block h3 {
  font-family: 'PT Sans';
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 73px;
}

.views-block__items {
  overflow: hidden;
}

.views-block__item {
  padding: 10px 50px;
  position: relative;
}

.views-block__item h6 {
  z-index: 1;
}

.views-block__item-first {
  background-color: #ebebeb;
  position: relative;
}

.views-block__item-first .views-block__item-number {
  color: whitesmoke;
}

.views-block__item-second {
  background-color: whitesmoke;
  position: relative;
}

.views-block__item-second .views-block__item-number {
  color: #ebebeb;
}

.views-block__item-half {
  height: 50%;
}

.views-block__item-full {
  height: 100%;
}

.views-block__item-img {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 440px;
  position: relative;
  z-index: 1;
}

.views-block__item-img img {
  z-index: -1;
  position: relative;
}

@media (min-width: 992px) {
  .views-block__item-img {
    max-height: 568px;
  }
}

.views-block__item-img-half {
  max-height: 220px;
}

@media (min-width: 992px) {
  .views-block__item-img-half {
    max-height: 284px;
  }
}

.views-block__item-number {
  position: absolute;
  font-family: 'vollkornbold';
  font-size: 300px;
  line-height: 0.6;
  z-index: 0;
}

.views-block__item-number-rb {
  right: -53px;
  bottom: 0;
}

.views-block__item-number-lb {
  left: -107px;
  bottom: -5px;
}

.views-block__item-number-rt {
  right: -30px;
  top: -57px;
}

.views-block__item-1::before {
  content: '';
  position: absolute;
  right: -17px;
  top: 31%;
  background: transparent url("../images/arr-tr.png");
  height: 33px;
  width: 17px;
  z-index: 2;
}

@media (min-width: 992px) {
  .views-block__item-1::before {
    top: 47%;
  }
}

.views-block__item-2::before {
  content: '';
  position: absolute;
  left: 41%;
  bottom: -18px;
  border-style: solid;
  border-width: 18px 18.5px 0 18.5px;
  border-color: #ebebeb transparent transparent transparent;
  z-index: 2;
}

.views-block__item-3::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -18px;
  border-style: solid;
  border-width: 18px 18.5px 0 18.5px;
  border-color: whitesmoke transparent transparent transparent;
  z-index: 2;
}

.views-block__item-4::before {
  content: '';
  position: absolute;
  left: -17px;
  bottom: 57%;
  background: transparent url("../images/arr-br.png");
  height: 33px;
  width: 17px;
  z-index: 2;
}

@media (min-width: 992px) {
  .views-block__item-4::before {
    bottom: 44%;
  }
}

.views-block .col-md-5 {
  -ms-flex-preferred-size: 40.426%;
  -webkit-flex-basis: 40.426%;
  flex-basis: 40.426%;
  max-width: 40.426%;
}

.views-block .col-md-7 {
  -ms-flex-preferred-size: 59.576%;
  -webkit-flex-basis: 59.576%;
  flex-basis: 59.576%;
  max-width: 59.576%;
}

.ideas-block {
  background: url("../images/products-back.jpg") repeat top left;
  padding: 77px 0 90px;
}

.ideas-block h1 {
  margin-bottom: 64px;
}

.ideas-block__item-title {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 12px;
  border-top: 1px solid #000;
  line-height: 1.2;
}

.ideas-block__item-desc {
  padding-right: 30px;
  line-height: 1.2;
}

.ideas-block__item-sq {
  margin-bottom: 20px;
  display: block;
}

.modal .ideas-block__item-sq {
  margin-bottom: 24px;
}

.ideas-block__item-linkmore {
  font-style: italic;
  color: #afa376;
  position: relative;
  margin-bottom: 26px;
  display: block;
}

.ideas-block__item .line {
  width: 25px;
  height: 1px;
  background-color: #000;
}

.ideas-block__item-link {
  display: block;
  margin-top: 16px;
}

.ideas-block__item-link i {
  font-size: 35px;
  margin-left: -0.2em;
  position: relative;
  top: 5px;
}

.present-block {
  background-color: #ebebeb;
  padding: 83px 0 55px;
  position: relative;
}

.present-block h3 {
  font-family: 'PT Sans';
  font-weight: 400;
  margin-bottom: 85px;
}

.present-block__item {
  z-index: 1;
}

@media (min-width: 992px) {
  .present-block__img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background: url("../images/shadow.png") no-repeat 60% center;
  }
}

.reasons-block {
  padding: 80px 0 100px;
}

.reasons-block h1 {
  line-height: 0.9;
}

.reasons-block h3 {
  font-family: 'PT Sans';
  font-weight: 400;
  margin-bottom: 67px;
}

.reasons-block .row {
  margin: 0;
}

.reasons-block__item {
  background-color: #ebebeb;
  padding: 40px 66px;
  position: relative;
}

@media (min-width: 992px) {
  .reasons-block__item {
    padding: 61px 66px;
  }
}

.reasons-block__item-number {
  position: absolute;
  color: #d4d2d2;
  right: -75px;
  font-family: 'vollkornbold';
  font-size: 300px;
  line-height: 0.6;
  z-index: 0;
  top: -52px;
}

.reasons-block__item-title {
  height: 84px;
  position: relative;
  max-width: 313px;
}

.reasons-block__item-title::after {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #afa376;
  position: absolute;
  left: 2px;
  bottom: 4px;
}

.reasons-block__item-desc {
  max-width: 340px;
  margin-top: 24px;
  line-height: 1.2;
}

.reasons-block__item::before {
  content: '';
  border-style: solid;
  border-width: 15.5px 16px 15.5px 0;
  border-color: transparent #ebebeb transparent transparent;
  position: absolute;
  left: -16px;
  top: 35px;
}

.products-block {
  background: url("../images/products-back.jpg") repeat top left;
  padding: 77px 0 100px;
}

.products-block h1 {
  line-height: 0.9;
  margin-bottom: 5px;
}

.products-block h3 {
  font-family: 'PT Sans';
  font-weight: 400;
  margin-bottom: 71px;
  margin-top: 10px;
  line-height: 1.1;
}

.products-block__item {
  position: relative;
}

.products-block__item-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.68);
}

.products-block__item-number {
  font-family: 'vollkornbold';
  font-size: 48px;
  line-height: 0;
  margin-right: 23px;
  top: 3px;
  position: relative;
}

.styles-block {
  padding: 82px 0 105px;
  font-size: 14px;
}

.styles-block h1 {
  line-height: 0.9;
}

.styles-block h3 {
  font-family: 'PT Sans';
  font-weight: 400;
  margin-bottom: 39px;
  margin-top: 10px;
}

.styles-block__items {
  margin-bottom: 20px;
  max-height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.styles-block__item {
  height: 50%;
}

.styles-block__item-text {
  padding: 16px 12px 25px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 1.2;
  max-height: 221px;
}

.styles-block__item-text-t {
  margin-top: 15px;
}

.styles-block__item-text-b {
  margin-bottom: 19px;
}

.styles-block__item h5 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .styles-block {
    font-size: 16px;
  }
}

.proposal-block {
  padding: 86px 0 162px;
  background: url("../images/proposal-back.jpg") no-repeat center center;
  background-size: cover;
}

.proposal-block h1 {
  line-height: 0.9;
}

.proposal-block .form-wrapper {
  margin-top: 5px;
}

.task-block {
  padding: 82px 0 0;
}

.task-block h5 {
  font-family: 'vollkornmedium';
}

.task-block h3 {
  margin-top: 37px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .task-block h3 {
    margin-top: 137px;
  }
}

.task-block blockquote {
  margin-top: 57px;
}

.task-block__item {
  margin-bottom: 10px;
}

.task-block__item-link {
  position: relative;
  display: block;
}

.task-block__item-link__block {
  color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px;
}

.task-block__item-link:hover .task-block__item-link__block {
  background-color: rgba(0, 0, 0, 0.81);
  color: #afa376;
}

.task-block__item-link:hover .task-block__item-link__block-inner {
  border: 1px solid #afa376;
  text-align: center;
  padding-top: 45%;
  height: 100%;
  width: 100%;
}

.task-block__item-girl {
  position: relative;
  bottom: -7px;
  left: -61px;
}

.task-block__item-desc {
  margin-top: 33px;
  line-height: 1.35;
}

.howto-block {
  padding: 83px 0 0;
  background-color: #eeebe4;
}

.howto-block h1 {
  margin-bottom: 61px;
}

.howto-block__inner {
  position: relative;
}

.howto-block__inner-item {
  position: absolute;
  line-height: 1;
}

.howto-block__inner-item-1 {
  top: 6px;
  left: 30px;
}

@media (min-width: 992px) {
  .howto-block__inner-item-1 {
    top: 20px;
    left: 125px;
  }
}

.howto-block__inner-item-2 {
  top: 45px;
  right: 65px;
}

@media (min-width: 992px) {
  .howto-block__inner-item-2 {
    top: 70px;
    right: 165px;
  }
}

.howto-block__inner-item-3 {
  top: 178px;
  left: 5px;
}

@media (min-width: 992px) {
  .howto-block__inner-item-3 {
    top: 240px;
    left: 45px;
  }
}

.howto-block__inner-item-4 {
  top: 179px;
  right: 0;
}

@media (min-width: 992px) {
  .howto-block__inner-item-4 {
    top: 245px;
    right: 4px;
  }
}

.howto-block__inner-item-5 {
  top: 341px;
  left: 75px;
}

@media (min-width: 992px) {
  .howto-block__inner-item-5 {
    top: 423px;
    left: 165px;
  }
}

.howto-block__inner-item-6 {
  top: 326px;
  right: 0;
}

@media (min-width: 992px) {
  .howto-block__inner-item-6 {
    top: 410px;
    right: 24px;
  }
}

.howto-block__inner-item-number {
  color: #5fbf08;
  font-size: 36px;
  font-family: 'vollkornbold';
  position: absolute;
  top: 10px;
  display: inline-block;
}

.howto-block__inner-item-number::after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  right: -35px;
  top: 43%;
  border-radius: 50%;
  background-color: #5fbf08;
}

.howto-block__inner-item.text--right .howto-block__inner-item-number {
  right: -55px;
}

.howto-block__inner-item.text--right .howto-block__inner-item-number::after {
  right: -21px;
}

.howto-block__inner-item.text--left .howto-block__inner-item-number {
  left: -55px;
}

.howto-block__inner-item.text--left .howto-block__inner-item-number::after {
  left: -24px;
}

.howto-block__item-back {
  margin-bottom: -7px;
}

.application-block {
  padding: 113px 0 51px;
  background: whitesmoke;
  position: relative;
}

.application-block h2 {
  line-height: 1.1;
  margin-bottom: 37px;
}

.application-block .sans-title {
  line-height: 1.2;
  margin-bottom: 28px;
}

@media (min-width: 992px) {
  .application-block {
    background: whitesmoke url("../images/application-back.jpg") no-repeat right top;
  }

  .application-block span {
    display: block;
  }
}

.application-block .container {
  position: relative;
  z-index: 1;
}

.application-block:before {
  content: '';
  background: whitesmoke;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.application-block .pres-block {
  background-color: #dbdbdb;
  line-height: 1;
}

.application-block .pres-block::before {
  right: -11px;
  left: auto;
  top: 18px;
  border-width: 10px 0 10px 11px;
  border-color: transparent transparent transparent #dbdbdb;
}

.application-block .form-wrapper p {
  margin-bottom: 48px;
}

.application-block .form-wrapper .btn {
  margin-top: 40px;
}

.faq-block {
  padding: 65px 0 54px;
  color: #fff;
  background: #423f49;
}

@media (min-width: 992px) {
  .faq-block {
    background: #423f49 url("../images/faq-back.jpg") no-repeat top left;
    background-size: 57% auto;
  }
}

.faq-block h1 {
  line-height: 0.9;
  margin-bottom: 60px;
}

.faq-block-phone {
  margin: 27px 0 36px;
  font-weight: 700;
  line-height: 1.25;
}

.faq-block-phone span {
  font-size: 30px;
  display: block;
  line-height: 1.5;
}

.faq-block .btn--md {
  padding-left: 60px;
  padding-right: 60px;
}

.sans-title {
  font-family: 'PT Sans';
  font-weight: 400;
  line-height: 1.1;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

footer {
  color: #fff;
}

footer a {
  color: #fff;
}

footer a.phone-popup {
  border-bottom: 1px dashed #afa376;
}

footer a.phone-popup:hover {
  color: #fff;
}

.footer-top {
  padding: 25px 0 12px;
  background-color: #27282d;
}

.footer-bottom {
  padding: 13px 0;
  background-color: #6a6d7a;
  letter-spacing: 1px;
}

.footer-bottom ul {
  display: inline-block;
  margin-right: 20px;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?89494073");
  src: url("../fonts/fontello.eot?89494073#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?89494073") format("woff"), url("../fonts/fontello.ttf?89494073") format("truetype"), url("../fonts/fontello.svg?89494073#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vkontakte:before {
  content: '\e800';
}

/* '' */

.icon-youtube:before {
  content: '\e801';
}

/* '' */

.icon-instagram:before {
  content: '\e802';
}

/* '' */

.icon-youtube-squared:before {
  content: '\e803';
}

/* '' */

/* '' */

/* '' */

.margtop0 {
  margin-top: 0px;
}

.margright20 {
  margin-right: 20px;
}

.margbot20 {
  margin-bottom: 20px;
}

.margtop20 {
  margin-top: 20px;
}

.margbot30 {
  margin-bottom: 30px;
}

.margtop30 {
  margin-top: 30px;
}

.margtop50 {
  margin-top: 50px;
}

.margbot60 {
  margin-bottom: 60px;
}

.margbot100 {
  margin-bottom: 100px;
}

.padbot20 {
  padding-bottom: 20px;
}
